[Monero]

# Command line for launching the monero miner.
cmd = /Users/mike/Code/xmr-stak/bin/xmr-stak

# The miner looks for the configuration file in the current working directory.
working dir = /Users/mike/Code/xmr-stak/bin

# The maximum number of minutes to execute the monero miner before selecting another task.
max duration = 1440

[Folding]

# Command line for launching the FAH client.
cmd = FAHClient

# The maximum number of minutes to execute the FAH client before selecting another task.
max duration = 1440

[Slack]

# Add your Slack API key and channel name on the following lines.
#key =
#channel = #computer-status

[General]

# One of these tasks will be randomly selected.
# "Best Coin" will query whattomine.com for the best coin to mine and then run the first one specified in this configuration.
tasks = Best Coin,Monero,Folding
