[Monero]
cmd = "/Users/mike/Code/xmr-stak/bin/xmr-stak"
working dir = /Users/mike/Code/xmr-stak/bin # The miner looks for the configuration file in the current working directory

[Folding]
cmd = "FAHClient"

[General]

# One of these tasks will be randomly selected.
# "Best Coin" will query whattomine.com for the best coin to mine and then run the first one specified in this configuration.
tasks = Best Coin,Monero,Folding
